<!DOCTYPE html>
<html>
  <head>
    <title>Jnstagram</title>
    <link rel='stylesheet' href='/__build__/bundle.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/__build__/bundle.js"></script>
  </body>
</html>
